@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
@import url("../scss/utils/_mixin.scss");
@import url("../scss/utils/_vars.scss");
@import url("../scss/utils/_mixin.scss");
@import url("../scss/utils/_vars.scss");
@import url("../scss/utils/_mixin.scss");
@import url("../scss/utils/_vars.scss");
@import url("../scss/utils/_mixin.scss");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 10px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Pretendard", "맑은고딕", Arial, sans-serif;
  overflow: hidden;
}
@font-face {
  font-family: Pretendard;
  font-weight: 700;
  font-style: normal;
  src: url("../font/Pretendard-Bold.woff") format("woff"), url("../font/Pretendard-Bold.ttf") format("truetype");
}
@font-face {
  font-family: Pretendard;
  font-weight: 500;
  font-style: normal;
  src: url("../font/Pretendard-Medium.woff") format("woff"), url("../font/Pretendard-Medium.ttf") format("truetype");
}
@font-face {
  font-family: Pretendard;
  font-weight: 400;
  font-style: normal;
  src: url("../font/Pretendard-Regular.woff") format("woff"), url("../font/Pretendard-Regular.ttf") format("truetype");
}

.inner {
  width: calc(100% - 40px);
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .inner {
    width: 73%;
    padding: 100px 0;
  }
}
.inner.wide {
  width: 100%;
}

button {
  background: none;
  border: none;
}

.inquery-button {
  display: inline-block;
  width: 119px;
  height: 57px;
  padding: 16px 0;
  background-color: #0089D0;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 18px;
  line-height: 25.2px;
  letter-spacing: -0.36px;
  font-weight: 700;
  color: #fff;
  display: inline-block;
}
@media (min-width: 768px) {
  .inquery-button {
    width: 135px;
    height: 57px;
  }
}
.inquery-button:hover {
  display: inline-block;
  width: 119px;
  height: 57px;
  padding: 16px 0;
  background-color: #24AFF7;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 18px;
  line-height: 25.2px;
  letter-spacing: -0.36px;
  font-weight: 700;
  color: #fff;
}
@media (min-width: 768px) {
  .inquery-button:hover {
    width: 135px;
    height: 57px;
  }
}
.inquery-button.pressed {
  display: inline-block;
  width: 119px;
  height: 57px;
  padding: 16px 0;
  background-color: #005F8F;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 18px;
  line-height: 25.2px;
  letter-spacing: -0.36px;
  font-weight: 700;
  color: #fff;
}
@media (min-width: 768px) {
  .inquery-button.pressed {
    width: 135px;
    height: 57px;
  }
}
.inquery-button.disable {
  display: inline-block;
  width: 119px;
  height: 57px;
  padding: 16px 0;
  background-color: #aaa;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 18px;
  line-height: 25.2px;
  letter-spacing: -0.36px;
  font-weight: 700;
  color: #fff;
}
@media (min-width: 768px) {
  .inquery-button.disable {
    width: 135px;
    height: 57px;
  }
}

.tab-card-01 {
  width: 100%;
  min-height: 150px;
  border-radius: 20px;
  background-image: url("../image/mo/tab_01.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .tab-card-01 {
    width: 30%;
    min-height: 468px;
    border-radius: 20px;
    background-image: url("../image/pc/tab_01.png");
  }
}

.tab-card-02 {
  width: 100%;
  min-height: 150px;
  border-radius: 20px;
  background-image: url("../image/mo/tab_02.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .tab-card-02 {
    width: 30%;
    min-height: 468px;
    border-radius: 20px;
    background-image: url("../image/pc/tab_02.png");
  }
}

.tab-card-03 {
  width: 100%;
  min-height: 150px;
  border-radius: 20px;
  background-image: url("../image/mo/tab_03.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .tab-card-03 {
    width: 30%;
    min-height: 468px;
    border-radius: 20px;
    background-image: url("../image/pc/tab_03.png");
  }
}

.tab-card-04 {
  width: 100%;
  min-height: 150px;
  border-radius: 20px;
  background-image: url("../image/mo/tab_04.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .tab-card-04 {
    width: 30%;
    min-height: 468px;
    border-radius: 20px;
    background-image: url("../image/pc/tab_04.png");
  }
}

.tab-content-card {
  width: 100%;
  min-height: 528px;
  border-radius: 20px;
  background-color: #dcedf8;
}
@media (min-width: 768px) {
  .tab-content-card {
    width: 74.39%;
    min-height: 468px;
    border-radius: 20px;
  }
}

.service-card-01 {
  width: 100%;
  min-height: auto;
  border-radius: 20px;
  height: auto;
  background-image: url("../image/mo/service_01.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .service-card-01 {
    width: 100%;
    min-height: 465px;
    border-radius: 20px;
    background-image: url("../image/pc/service_01.png");
  }
}

.service-card-02 {
  width: 100%;
  min-height: auto;
  border-radius: 20px;
  height: auto;
  background-image: url("../image/mo/service_02.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .service-card-02 {
    width: 100%;
    min-height: 465px;
    border-radius: 20px;
    background-image: url("../image/pc/service_02.png");
  }
}

input {
  width: 100%;
  height: 43px;
  box-sizing: border-box;
  border: 1px solid #9a9a9a;
  padding: 12px 13px 12px 12px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.28px;
  line-height: 19.6px;
  color: #333;
}
input::-moz-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: -0.32px;
}
input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: -0.32px;
}
input.pressed {
  width: 100%;
  height: 43px;
  box-sizing: border-box;
  border: 1px solid #4263EB;
  padding: 12px 13px 12px 12px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.28px;
  line-height: 19.6px;
  color: #333;
}
input.disable {
  width: 100%;
  height: 43px;
  box-sizing: border-box;
  border: 1px solid #DD2C2F;
  padding: 12px 13px 12px 12px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.28px;
  line-height: 19.6px;
  color: #333;
}

.dimmed {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.popup {
  display: none;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}
@media (min-width: 768px) {
  .popup {
    width: 60%;
  }
}
.popup .inner {
  width: 100%;
  padding: 50px 16px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .popup .inner {
    padding: 100px 80px;
  }
}
.popup .inner .cont-box .close-btn a {
  display: inline-block;
  position: absolute;
  top: 16px;
  right: 16px;
  width: 36px;
  height: 36px;
  background-image: url("../image/icon/close.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.popup .inner .cont-box .title {
  font-size: 28px;
  line-height: 33.6px;
  letter-spacing: -0.56px;
  font-weight: 700;
  color: #333;
  margin-bottom: 30px;
}
.popup .inner .cont-box .input-box {
  margin-bottom: 50px;
}
.popup .inner .cont-box .input-box .input-item {
  display: flex;
  margin-bottom: 20px;
}
.popup .inner .cont-box .input-box .input-item span {
  display: inline-block;
  width: 80px;
  margin-top: 12px;
  font-size: 16px;
  line-height: 18.75px;
  letter-spacing: -0.32px;
  font-weight: 400;
  color: #333;
}
.popup .inner .cont-box .input-box .input-item input {
  display: inline-block;
  width: calc(100% - 80px);
}
.popup .inner .cont-box .input-box .input-item textarea {
  width: calc(100% - 80px);
  height: 210px;
  padding: 12px;
  border: 1px solid #9a9a9a;
  border-radius: 4px;
  box-sizing: border-box;
  overflow-y: scroll;
}
.popup .inner .cont-box .input-box .input-item:last-child {
  margin-bottom: 0;
}
.popup .inner .cont-box .button-box {
  text-align: center;
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80px;
  box-sizing: border-box;
  z-index: 50 !important;
}
@media (min-width: 768px) {
  header {
    height: 100px;
    position: fixed;
  }
}
header.scroll {
  background: rgba(255, 255, 255, 0.8);
}
header.scroll .inner .logo {
  width: 151px;
  height: 60px;
  background-image: url("../image/common/logo_scroll.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
header.scroll .inner .nav-box .nav-bar li a {
  color: #333;
}
header.scroll .inner .nav-box .nav-bar li a:active, header.scroll .inner .nav-box .nav-bar li a:hover {
  font-weight: 700;
  color: #333;
}
header.scroll .inner .nav-box .language-selector .language-btn {
  border-color: #333;
}
header.scroll .inner .nav-box .language-selector .language-btn span {
  color: #333;
}
header.scroll .inner .nav-box .language-selector .language-btn span:after {
  width: 24px;
  height: 24px;
  background-image: url("../image/icon/chevron_down.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header.scroll .inner .nav-box .language-selector.active ul.language-dropdown {
  border-color: #333;
  background-color: #fff;
}
header.scroll .inner .nav-box .language-selector.active ul.language-dropdown li a {
  color: #333;
}
header.scroll .inner .nav-box .language-selector.active ul.language-dropdown li a:hover {
  background-color: #f1faff;
  color: #333;
}
header.scroll .inner .nav-box .language-selector.active ul.language-dropdown li.clicked {
  color: #0189d0;
}
header.slide-on {
  background-color: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
}
header.slide-on .inner .logo {
  width: 120px;
  height: 60px;
  background-image: url("../image/common/logo_scroll.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
header.slide-on .inner .nav-btn {
  width: 36px;
  height: 36px;
  background-image: url("../image/icon/close.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  header .inner {
    width: calc(100% - 20px);
    padding: 20px 10px;
  }
}
header .inner .logo {
  width: 120px;
  height: 60px;
  background-image: url("../image/common/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (min-width: 768px) {
  header .inner .logo {
    width: 151px;
    height: 60px;
    background-image: url("../image/common/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
header .inner .nav-btn {
  width: 36px;
  height: 36px;
  background-image: url("../image/icon/menu.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  header .inner .nav-btn {
    display: none;
  }
}
header .inner .nav-box {
  display: none;
}
@media (min-width: 768px) {
  header .inner .nav-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .inner .nav-box .nav-bar {
    display: flex;
  }
  header .inner .nav-box .nav-bar li {
    width: 100px;
    margin-right: 30px;
    text-align: center;
    line-height: 25.2px;
    font-size: 18px;
    line-height: 25.2px;
    letter-spacing: -0.36px;
    font-weight: 400;
    color: #fff;
  }
  header .inner .nav-box .nav-bar li a {
    font-size: 18px;
    line-height: 25.2px;
    letter-spacing: -0.36px;
    font-weight: 400;
    color: #fff;
    color: #fff;
  }
  header .inner .nav-box .nav-bar li a:active, header .inner .nav-box .nav-bar li a:hover {
    color: #0089D0;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  header .inner .nav-box .nav-bar li {
    margin-right: 0;
  }
  header .inner .nav-box .nav-bar li:last-child {
    margin-right: 30px;
  }
}
@media (min-width: 768px) {
  header .inner .language-selector {
    position: relative;
    width: 113px;
    height: 41px;
  }
  header .inner .language-selector .language-btn {
    width: 100%;
    height: 100%;
    padding: 8px 16px;
    box-sizing: border-box;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 8px;
    font-size: 18px;
    line-height: 25.2px;
    letter-spacing: -0.36px;
    font-weight: 400;
    color: #fff;
  }
  header .inner .language-selector .language-btn span {
    display: inline-block;
    width: 100%;
    color: #fff;
    text-align: left;
  }
  header .inner .language-selector .language-btn span:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 8px;
    right: 16px;
    width: 24px;
    height: 24px;
    background-image: url("../image/pc/chevron-down.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  header .inner .language-selector ul.language-dropdown {
    display: none;
    position: absolute;
    top: 41px;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 8px;
    color: #fff;
    overflow: hidden;
  }
  header .inner .language-selector ul.language-dropdown li {
    width: 100%;
    height: 41px;
  }
  header .inner .language-selector ul.language-dropdown li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 8px 16px;
    box-sizing: border-box;
    line-height: 25.2px;
    text-align: left;
    font-size: 18px;
    line-height: 25.2px;
    letter-spacing: -0.36px;
    font-weight: 400;
    color: #fff;
  }
  header .inner .language-selector ul.language-dropdown li a:hover {
    color: #333;
    background-color: #F1FAFF;
  }
  header .inner .language-selector ul.language-dropdown li a:active {
    color: #0089D0;
  }
  header .inner .language-selector ul.language-dropdown li.clicked a {
    color: #0189d0;
    background-color: #fff;
  }
  header .inner .language-selector.active ul.language-dropdown {
    display: block;
  }
}

.side-menu {
  visibility: hidden;
  z-index: 1;
  position: fixed;
  top: 75px;
  left: 0;
  width: 100%;
  transform: translateX(-100%);
  height: 100vh;
  padding: 30px 20px;
  background-color: #fff;
  transition: all ease-out 0.3s;
  opacity: 0;
}
.side-menu.slide-on {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
.side-menu .menu-list {
  padding-bottom: 20px;
}
.side-menu .menu-list .menu {
  font-size: 18px;
  line-height: 25.2px;
  letter-spacing: -0.36px;
  font-weight: 400;
  color: #333;
  padding: 20px 0;
  border-bottom: 1px solid #dadada;
}
.side-menu .language-selector {
  position: relative;
}
.side-menu .language-selector button {
  padding: 8.5px 16px;
  box-sizing: border-box;
  border: 1px solid #9a9a9a;
  border-radius: 8px;
  width: 113px;
  height: 41px;
}
.side-menu .language-selector button span {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 18px;
  line-height: 25.2px;
  letter-spacing: -0.36px;
  font-weight: 700;
  color: #333;
  text-align: left;
}
.side-menu .language-selector button span:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  background-image: url("../image/icon/chevron_down.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.side-menu .language-selector ul.language-dropdown {
  display: none;
  position: absolute;
  top: 41px;
  left: 0;
  width: 113px;
  box-sizing: border-box;
  border: 1px solid #9a9a9a;
  border-radius: 8px;
  color: #333;
  overflow: hidden;
  z-index: 60;
}
.side-menu .language-selector ul.language-dropdown li {
  width: 100%;
  height: 41px;
}
.side-menu .language-selector ul.language-dropdown li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 25.2px;
  letter-spacing: -0.36px;
  font-weight: 400;
  color: #333;
  text-align: left;
}
.side-menu .language-selector ul.language-dropdown li a:hover {
  color: #333;
  background-color: #F1FAFF;
}
.side-menu .language-selector ul.language-dropdown li a:active {
  color: #0089D0;
}
.side-menu .language-selector.active ul.language-dropdown {
  display: block;
}

main .inner {
  padding: 50px 0;
}
main .inner .title {
  margin-bottom: 50px;
}
main .inner .title .text {
  font-size: 28px;
  line-height: 33.6px;
  letter-spacing: -0.56px;
  font-weight: 700;
  color: #333;
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  main .inner .title .text {
    font-size: 40px;
    line-height: 56px;
    letter-spacing: -0.8px;
    font-weight: 700;
    color: #333;
    margin-bottom: 24px;
  }
}
main .inner .title .desc {
  font-size: 18px;
  line-height: 25.2px;
  letter-spacing: -0.36px;
  font-weight: 400;
  color: #333;
}
@media (min-width: 768px) {
  main .inner .title .desc {
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: -0.48px;
    font-weight: 400;
    color: #333;
  }
}
@media (min-width: 768px) {
  main .inner {
    padding: 100px 0;
  }
}
@media (min-width: 768px) {
  main br {
    display: none;
  }
  main br.only-pc, main br.common {
    display: block !important;
  }
  main br.only-laptop {
    display: block !important;
  }
}
main .top-button {
  display: inline-block;
  position: fixed;
  bottom: 25px;
  right: 16px;
  width: 43px;
  height: 43px;
  z-index: 20;
}
main .top-button a {
  display: inline-block;
  width: 100px;
  height: 100px;
  width: 43px;
  height: 43px;
  background-image: url("../image/common/top_btn.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  main .top-button {
    display: none !important;
  }
}
main .sector-visual {
  height: 100vh;
  padding: 0 24px;
  box-sizing: border-box;
  width: 100%;
  height: 800px;
  background-image: url("../image/mo/visual.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .sector-visual .title {
  font-size: 40px;
  line-height: 56px;
  letter-spacing: -0.8px;
  font-weight: 700;
  color: #fff;
  padding-top: 200px;
}
@media (min-width: 768px) {
  main .sector-visual {
    position: relative;
    display: flex;
    align-items: center;
    height: 800px;
  }
  main .sector-visual .title {
    padding-left: 20px;
    padding-top: 0;
  }
}
@media (min-width: 1020px) {
  main .sector-visual {
    position: relative;
    display: flex;
    align-items: center;
    height: 800px;
    width: 100%;
    height: 800px;
    background-image: url("../image/pc/visual.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  main .sector-visual .title {
    padding: 0 0 0 13%;
    padding-top: 0;
  }
}
@media (min-width: 768px) {
  main .sector-tab .inner.wide {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 1400px) {
  main .sector-tab .inner.wide {
    width: 1400px;
  }
}
main .sector-tab .tab-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  overflow: hidden;
}
@media (min-width: 768px) {
  main .sector-tab .tab-list {
    width: 90%;
    margin: 0 auto;
  }
}
main .sector-tab .tab-list li {
  display: flex;
  width: 140px !important;
  flex-direction: column;
  align-items: center;
  margin-right: 14px;
  box-sizing: border-box;
}
main .sector-tab .tab-list li .tab-icon-01 {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-image: url("../image/common/tab_icon_01.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
main .sector-tab .tab-list li .tab-icon-02 {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-image: url("../image/common/tab_icon_02.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
main .sector-tab .tab-list li .tab-icon-03 {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-image: url("../image/common/tab_icon_03.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
main .sector-tab .tab-list li .tab-icon-04 {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-image: url("../image/common/tab_icon_04.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  main .sector-tab .tab-list li {
    width: 19% !important;
    box-sizing: border-box;
    border-bottom: 5px solid transparent;
  }
}
main .sector-tab .tab-list li .tab-name {
  display: inline-block;
  height: 60px;
  margin-top: 4px;
  padding-bottom: 12px;
  text-align: center;
  font-size: 17px;
  line-height: 25.2px;
  letter-spacing: -0.34px;
  font-weight: 400;
  color: #333;
  vertical-align: bottom;
}
@media (min-width: 768px) {
  main .sector-tab .tab-list li .tab-name {
    margin-bottom: 8px;
    font-size: 17px;
    line-height: 25.2px;
    letter-spacing: -0.34px;
    font-weight: 400;
    color: #333;
    height: 40px;
  }
}
@media (min-width: 1020px) {
  main .sector-tab .tab-list li .tab-name {
    margin-top: 24px;
    margin-bottom: 12px;
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: -0.48px;
    font-weight: 400;
    color: #333;
  }
}
main .sector-tab .tab-list li.on {
  border-bottom: 5px solid #0089D0;
}
main .sector-tab .tab-list li.on .tab-name {
  color: #0089D0;
  font-weight: 700;
}
main .sector-tab .tab-content {
  margin-top: 20px;
  padding: 0 20px;
}
@media (min-width: 768px) {
  main .sector-tab .tab-content {
    margin-top: 50px;
  }
}
main .sector-tab .tab-content > .cont {
  display: none;
}
main .sector-tab .tab-content > .cont.on {
  display: block;
}
@media (min-width: 768px) {
  main .sector-tab .tab-content > .cont.on {
    display: flex;
  }
}
main .sector-tab .tab-content > .cont .cont-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
  box-sizing: border-box;
  font-size: 24px;
  line-height: 28.8px;
  letter-spacing: -0.48px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}
@media (min-width: 768px) {
  main .sector-tab .tab-content > .cont .cont-title {
    display: block;
    margin-right: 3%;
    margin-bottom: 0;
    padding: 100px 0;
    border-radius: 40px;
    font-size: 22px;
    line-height: 28.8px;
    letter-spacing: -0.44px;
    font-weight: 700;
    color: #fff;
  }
}
@media (min-width: 1020px) {
  main .sector-tab .tab-content > .cont .cont-title {
    font-size: 32px;
    line-height: 38.4px;
    letter-spacing: -0.64px;
    font-weight: 700;
    color: #fff;
  }
  main .sector-tab .tab-content > .cont .cont-title br {
    display: block !important;
  }
}
@media (min-width: 1400px) {
  main .sector-tab .tab-content > .cont .cont-title {
    padding: 100px 35px;
  }
}
main .sector-tab .tab-content > .cont .tab-content-card {
  width: 100%;
  padding: 24px 10px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  main .sector-tab .tab-content > .cont .tab-content-card {
    padding: 43.5px 50px;
    border-radius: 40px;
    box-sizing: border-box;
  }
}
main .sector-tab .tab-content > .cont .tab-content-card .card-title {
  font-size: 24px;
  line-height: 28.8px;
  letter-spacing: -0.48px;
  font-weight: 700;
  color: #333;
  text-align: center;
  margin-bottom: 12px;
}
@media (min-width: 768px) {
  main .sector-tab .tab-content > .cont .tab-content-card .card-title {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: -0.48px;
    font-weight: 700;
    color: #333;
    text-align: left;
  }
}
@media (min-width: 1020px) {
  main .sector-tab .tab-content > .cont .tab-content-card .card-title {
    font-size: 32px;
    line-height: 38.4px;
    letter-spacing: -0.64px;
    font-weight: 700;
    color: #333;
  }
}
main .sector-tab .tab-content > .cont .tab-content-card ul.card-content {
  padding: 16px 8px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.6);
  min-height: 400px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  main .sector-tab .tab-content > .cont .tab-content-card ul.card-content {
    padding: 30px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.6);
    min-height: 323px;
    box-sizing: border-box;
  }
}
main .sector-tab .tab-content > .cont .tab-content-card ul.card-content li {
  position: relative;
  padding-left: 28px;
  font-size: 16px;
  line-height: 22.4px;
  letter-spacing: -0.32px;
  font-weight: 400;
  color: #333;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  main .sector-tab .tab-content > .cont .tab-content-card ul.card-content li {
    margin-bottom: 10px;
  }
}
@media (min-width: 1020px) {
  main .sector-tab .tab-content > .cont .tab-content-card ul.card-content li {
    font-size: 18px;
    line-height: 28.8px;
    letter-spacing: -0.36px;
    font-weight: 400;
    color: #333;
  }
}
main .sector-tab .tab-content > .cont .tab-content-card ul.card-content li:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 12px;
  width: 4px;
  height: 4px;
  background-color: #333;
  border-radius: 50%;
  vertical-align: middle;
}
@media (min-width: 768px) {
  main .sector-tab .tab-content > .cont .tab-content-card ul.card-content.on {
    display: flex;
  }
}
@media (min-width: 768px) {
  main .sector-history .inner {
    width: calc(100% - 40px);
  }
}
@media (min-width: 1400px) {
  main .sector-history .inner {
    width: 1400px;
  }
}
main .sector-history .cont-box {
  position: relative;
  margin-left: 17px;
  padding-top: 80px;
}
main .sector-history .cont-box:before {
  content: "";
  position: absolute;
  top: 0;
  left: -3px;
  display: inline-block;
  width: 5px;
  height: 100%;
  background-image: url("../image/icon/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  main .sector-history .cont-box {
    margin: 0 auto;
  }
  main .sector-history .cont-box:before {
    left: 189px;
  }
}
@media (min-width: 1020px) {
  main .sector-history .cont-box {
    width: 920px;
    box-sizing: border-box;
    padding-top: 100px;
    margin: 0 auto;
  }
}
main .sector-history .cont-box dl {
  position: relative;
}
@media (min-width: 768px) {
  main .sector-history .cont-box dl {
    display: flex;
  }
}
main .sector-history .cont-box dl dt {
  position: relative;
  padding-left: 21px;
  font-size: 28px;
  line-height: 33.6px;
  letter-spacing: -0.56px;
  font-weight: 700;
  color: #333;
}
main .sector-history .cont-box dl dt:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: -17px;
  width: 34px;
  height: 34px;
  background-image: url("../image/icon/round.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
}
@media (min-width: 768px) {
  main .sector-history .cont-box dl dt:before {
    display: none;
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  main .sector-history .cont-box dl dt {
    width: 192px;
    padding-right: 42px;
    box-sizing: border-box;
  }
}
main .sector-history .cont-box dl dd {
  position: relative;
  padding: 16px 0 24px 21px;
}
@media (min-width: 768px) {
  main .sector-history .cont-box dl dd {
    padding: 0 0 50px 80px;
  }
  main .sector-history .cont-box dl dd:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: -17px;
    width: 34px;
    height: 34px;
    background-image: url("../image/icon/round.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
main .sector-history .cont-box dl dd li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 22.4px;
  letter-spacing: -0.32px;
  font-weight: 400;
  color: #333;
}
main .sector-history .cont-box dl dd li .month-flag {
  margin-right: 8px;
  padding: 4px 8px;
  box-sizing: border-box;
  height: 25px;
  border-radius: 8px;
  border: 1px solid #9a9a9a;
  font-size: 12px;
  line-height: 16.8px;
  letter-spacing: -0.24px;
  font-weight: 400;
  color: #9a9a9a;
}
main .sector-history .cont-box dl dd .sub-title {
  display: inline-block;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 22.4px;
  letter-spacing: -0.32px;
  font-weight: 400;
  color: #333;
}
main .sector-history .cont-box dl:last-child dd {
  border-left: none;
}
main .sector-service {
  background-color: #f1faff;
}
main .sector-service .title {
  margin-bottom: 20px;
}
main .sector-service .service-tab {
  display: none;
}
@media (min-width: 768px) {
  main .sector-service .service-tab {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .sector-service .service-tab .slick-track {
    width: 100% !important;
    transform: none !important;
  }
  main .sector-service .service-tab .tab-item {
    display: flex;
    align-items: center;
    height: 130px;
    box-sizing: border-box;
    padding: 0 18px;
    text-align: center;
    font-size: 20px;
    line-height: 33.6px;
    letter-spacing: -0.4px;
    font-weight: 400;
    color: #7f7f7f;
  }
  main .sector-service .service-tab .tab-item.on {
    font-size: 20px;
    line-height: 33.6px;
    letter-spacing: -0.4px;
    font-weight: 700;
    color: #0189d0;
  }
}
@media (min-width: 1400px) {
  main .sector-service .service-tab .tab-item {
    font-size: 28px;
    line-height: 33.6px;
    letter-spacing: -0.56px;
    font-weight: 400;
    color: #7f7f7f;
  }
  main .sector-service .service-tab .tab-item.on {
    font-size: 28px;
    line-height: 33.6px;
    letter-spacing: -0.56px;
    font-weight: 700;
    color: #0189d0;
  }
}
main .sector-service .service-slide .service-card {
  width: 100%;
  height: 560px;
  padding: 44.5px 20px;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
}
@media (min-width: 768px) {
  main .sector-service .service-slide .service-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 50px;
    height: auto;
    aspect-ratio: 10/4;
  }
}
@media (min-width: 1020px) {
  main .sector-service .service-slide .service-card {
    padding-left: 150px;
  }
}
main .sector-service .service-slide .service-card.service-card-02 {
  padding-top: 100px;
}
@media (min-width: 768px) {
  main .sector-service .service-slide .service-card.service-card-02 {
    padding-top: 50px;
  }
}
main .sector-service .service-slide .service-card .card-cont {
  margin: 0 auto;
  max-width: 295px;
  margin-bottom: 12px;
}
@media (min-width: 768px) {
  main .sector-service .service-slide .service-card .card-cont {
    max-width: 100%;
    margin: 0 0 27px 0;
  }
}
main .sector-service .service-slide .service-card .card-cont .sub-title {
  font-size: 16px;
  line-height: 22.4px;
  letter-spacing: -0.32px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  main .sector-service .service-slide .service-card .card-cont .sub-title {
    text-align: left;
    margin-bottom: 12px;
  }
}
@media (min-width: 1020px) {
  main .sector-service .service-slide .service-card .card-cont .sub-title {
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: -0.48px;
    font-weight: 700;
    color: #fff;
  }
}
main .sector-service .service-slide .service-card .card-cont .cont-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .sector-service .service-slide .service-card .card-cont .cont-list li {
  position: relative;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: -0.32px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 8px;
  padding-left: 20px;
}
main .sector-service .service-slide .service-card .card-cont .cont-list li:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0px;
  margin-right: 4px;
  width: 16px;
  height: 19px;
  background-image: url("../image/icon/check.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .sector-service .service-slide .service-card .card-cont .cont-list li:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  main .sector-service .service-slide .service-card .card-cont .cont-list li {
    margin-bottom: 10px;
  }
}
@media (min-width: 1020px) {
  main .sector-service .service-slide .service-card .card-cont .cont-list li {
    font-size: 18px;
    line-height: 25.2px;
    letter-spacing: -0.36px;
    font-weight: 400;
    color: #fff;
  }
}
main .sector-service .service-slide .service-card .card-cont .cont-list:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  main .sector-service .service-slide .service-card .card-cont .cont-list {
    display: block;
    text-align: left;
    margin-bottom: 27px;
  }
}
main .sector-service .service-slide .service-card .card-cont:last-child {
  margin-bottom: 0;
}
main .sector-service .service-slide .slick-dots {
  display: flex;
  justify-content: center;
  bottom: -32px;
}
main .sector-service .service-slide .slick-dots li {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 20px;
  border-radius: 50%;
  border: 1px solid #333;
}
main .sector-service .service-slide .slick-dots li:last-child {
  margin-right: 0;
}
main .sector-service .service-slide .slick-dots li.slick-active {
  background-color: #333;
}
main .sector-contact .map-box {
  height: 285px;
  border-radius: 40px;
  overflow: hidden;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  main .sector-contact .map-box {
    height: 532px;
  }
}
@media (min-width: 768px) {
  main .sector-contact .cont-box {
    display: flex;
    margin-top: 50px;
  }
}
main .sector-contact .cont-box .cont-title {
  font-size: 22px;
  line-height: 26.4px;
  letter-spacing: -0.44px;
  font-weight: 700;
  color: #333;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  main .sector-contact .cont-box .cont-title {
    font-size: 28px;
    line-height: 33.6px;
    letter-spacing: -0.56px;
    font-weight: 700;
    color: #333;
    width: 320px;
    margin-right: 40px;
  }
}
main .sector-contact .cont-box .contact-list .contact-item {
  font-size: 18px;
  line-height: 25.2px;
  letter-spacing: -0.36px;
  font-weight: 400;
  color: #333;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}
main .sector-contact .cont-box .contact-list .contact-item:last-child {
  margin-bottom: 0;
}
main .sector-contact .cont-box .contact-list .contact-item.item-01:before {
  content: "";
  display: inline-block;
  background-image: url("../image/icon/contact_01.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  margin-right: 20px;
}
main .sector-contact .cont-box .contact-list .contact-item.item-02:before {
  content: "";
  display: inline-block;
  background-image: url("../image/icon/contact_02.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  margin-right: 20px;
}
main .sector-contact .cont-box .contact-list .contact-item.item-03:before {
  content: "";
  display: inline-block;
  background-image: url("../image/icon/contact_03.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  margin-right: 20px;
}
main .sector-contact .cont-box .contact-list .contact-item {
  font-size: 18px;
  line-height: 25.2px;
  letter-spacing: -0.36px;
  font-weight: 400;
  color: #333;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}
main .sector-contact .cont-box .contact-list .contact-item:last-child {
  margin-bottom: 0;
}
main .sector-contact .cont-box .contact-list .contact-item.item-01:before {
  content: "";
  display: inline-block;
  background-image: url("../image/icon/contact_01.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  margin-right: 20px;
}
main .sector-contact .cont-box .contact-list .contact-item.item-02:before {
  content: "";
  display: inline-block;
  background-image: url("../image/icon/contact_02.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  margin-right: 20px;
}
main .sector-contact .cont-box .contact-list .contact-item.item-03:before {
  content: "";
  display: inline-block;
  background-image: url("../image/icon/contact_03.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  margin-right: 20px;
}
main .sector-message {
  background-color: #ecf3f8;
  text-align: center;
}
main .sector-message .inner {
  padding: 20px 24px;
}
@media (min-width: 768px) {
  main .sector-message .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 60px 0;
  }
}
main .sector-message .text {
  font-size: 22px;
  line-height: 26.4px;
  letter-spacing: -0.44px;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  main .sector-message .text {
    margin-bottom: 0;
    font-size: 28px;
    line-height: 33.6px;
    letter-spacing: -0.56px;
    font-weight: 700;
    color: #333;
  }
}
main .sector-message .inquery-button {
  display: inline-block;
}

footer .inner {
  padding: 30px 20px 29px;
  text-align: center;
  font-size: 13px;
  line-height: 18.2px;
  letter-spacing: -0.26px;
  font-weight: 400;
  color: #666;
}
@media (min-width: 768px) {
  footer .inner {
    display: flex;
    justify-content: space-between;
  }
}
footer .inner .text {
  display: inline-block;
  margin-bottom: 12px;
}
footer .inner .corp-list span {
  display: inline-block;
  margin-right: 20px;
}
footer .inner .corp-list span:last-child {
  margin-right: 0;
}
footer .inner .corp-list span.active {
  color: #333;
}/*# sourceMappingURL=main.css.map */