@import url("../utils/_vars.scss");
@import url("../utils/_mixin.scss");

@for $i from 1 to 5 {
  .tab-card-0#{$i} {
    @include cardStyle(100%, 150px);
    background-image: url("../../image/mo/tab_0#{$i}.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include tablet {
      @include cardStyle(30%, 468px);
      background-image: url("../../image/pc/tab_0#{$i}.png");
    }
  }
}

.tab-content-card {
  @include cardStyle(100%, 528px);
  background-color: #dcedf8;
  @include tablet {
    @include cardStyle(74.39%, 468px);
  }
}

@for $i from 1 to 3 {
  .service-card-0#{$i} {
    @include cardStyle(100%, auto);
    height: auto;
    background-image: url("../../image/mo/service_0#{$i}.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include tablet {
      @include cardStyle(100%, 465px);
      background-image: url("../../image/pc/service_0#{$i}.png");
    }
  }
}
