@import url('../utils/_vars.scss');
@import url('../utils/_mixin.scss');

input {
    @include inputStyle(100%, #9a9a9a);
    &::placeholder{
        font-size: 16px;
        font-weight: 400;
        line-height: 22.4px;
        @include letterSpacing(16px);
    }

    &.pressed {
        @include inputStyle(100%,#4263EB);
    }

    &.disable {
        @include inputStyle(100%,#DD2C2F);
    }
}