main {
  
  .inner {
    padding: 50px 0;

    .title {
      margin-bottom: 50px;
      .text {
        @include fontStyle(28px, 33.6px, 700);
        margin-bottom: 8px;

        @include tablet {
          @include fontStyle(40px, 56px, 700);
          margin-bottom: 24px;
        }
      }
      .desc {
        @include fontStyle(18px, 25.2px, 400);

        @include tablet {
          @include fontStyle(24px, 28.8px, 400);
        }
      }
    }

    @include tablet {
      padding: 100px 0;
    }
  }

  br {
    @include tablet {
      display: none;
      &.only-pc,
      &.common {
        display: block !important;
      }
      &.only-laptop {
        display: block !important;
      }
    }
  }

  .top-button {
    display: inline-block;
    position: fixed;
    bottom: 25px;
    right: 16px;
    width: 43px;
    height: 43px;
    z-index: 20;
    a {
      display: inline-block;
      width: 100px;
      height: 100px;
      @include backgroundImage(43px, 43px, "common/top_btn.png");
    }

    @include tablet {
      display: none !important;
    }
  }

  .sector {
    //.sector-visual
    &-visual {
      height: 100vh;
      padding: 0 24px;
      box-sizing: border-box;
      @include backgroundImage(100%, 800px, "mo/visual.png");
      .title {
        @include fontStyle(40px, 56px, 700, $white);
        padding-top: 200px;
      }

      @include tablet {
        position: relative;
        display: flex;
        align-items: center;
        height: 800px;
        .title {
          padding-left: 20px;
          padding-top: 0;
        }
      }

      @include laptop {
        position: relative;
        display: flex;
        align-items: center;
        height: 800px;
        @include backgroundImage(100%, 800px, "pc/visual.png");
        .title {
          padding: 0 0 0 13%;
          padding-top: 0;
        }
      }
    }

    //.sector-tab
    &-tab {
      @include tablet {
        .inner.wide {
          width: 100%;
          margin: 0 auto;
        }
      }

      @include desktop {
        .inner.wide {
          width: 1400px;
        }
      }

      .tab-list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        overflow: hidden;
  
        @include tablet {
          width: 90%;
          margin: 0 auto;
        }
        
        li {
          display: flex;
          width: 140px !important;
          flex-direction: column;
          align-items: center;
          margin-right: 14px;
          box-sizing: border-box;

          @for $i from 1 to 5 {
            .tab-icon-0#{$i} {
              display: inline-block;
              width: 60px;
              height: 60px;
              background-image: url("../../image/common/tab_icon_0#{$i}.png");
              background-size: contain;
              background-position: center;
              background-repeat: no-repeat;
            }
          }

          @include tablet {
            width: 19% !important;
            box-sizing: border-box;
            border-bottom: 5px solid transparent;
          }

          .tab-name {
            display: inline-block;
            height: 60px;
            margin-top: 4px;
            padding-bottom: 12px;
            text-align: center;
            
            @include fontStyle(17px, 25.2px, 400);
            vertical-align: bottom;

            @include tablet {
              margin-bottom: 8px;
              @include fontStyle(17px, 25.2px, 400);
              height: 40px;
            }

            @include laptop {
              margin-top: 24px;
              margin-bottom: 12px;
              @include fontStyle(24px, 28.8px, 400);
            }
          }
          //.tab-list li.on
          &.on {
            border-bottom: 5px solid $primary;

            .tab-name {
              color: $primary;
              font-weight: 700;
            }
          }
        }
      }

      .tab-content {
        margin-top: 20px;
        padding: 0 20px;

        @include tablet {
          margin-top: 50px;
        }
        
        > .cont {
          display: none;
          //.cont.on
          &.on {
            display: block;
            @include tablet {
              display: flex;
            }
          }

          .cont-title {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 12px;
            box-sizing: border-box;
            @include fontStyle(24px, 28.8px, 700, $white);
            text-align: center;

            @include tablet {
              display: block;
              margin-right: 3%;
              margin-bottom: 0;
              padding: 100px 0;
              border-radius: 40px;
              @include fontStyle(22px, 28.8px, 700, $white);
            }

            @include laptop {
              @include fontStyle(32px, 38.4px, 700, $white);
              br {
                display: block !important;
              }
            }

            @include desktop {
              padding: 100px 35px;
            }
          }

          .tab-content-card {
            width: 100%;
            padding: 24px 10px;
            box-sizing: border-box;

            @include tablet {
              padding: 43.5px 50px;
              border-radius: 40px;
              box-sizing: border-box;
            }

            .card-title {
              @include fontStyle(24px, 28.8px, 700);
              text-align: center;
              margin-bottom: 12px;

              @include tablet {
                margin-bottom: 20px;
                @include fontStyle(24px, 28.8px, 700);
                text-align: left;
              }

              @include laptop {
                @include fontStyle(32px, 38.4px, 700);
              }
            }

            ul.card-content {
              padding: 16px 8px;
              border-radius: 16px;
              background-color: rgba(255, 255, 255, 0.6);
              min-height: 400px;
              box-sizing: border-box;

              @include tablet {
                padding: 30px;
                border-radius: 16px;
                background-color: rgba(255, 255, 255, 0.6);
                min-height: 323px;
                box-sizing: border-box;
              }

              li {
                position: relative;
                padding-left: 28px;
                @include fontStyle(16px, 22.4px, 400);
                margin-bottom: 10px;

                @include tablet {
                  margin-bottom: 10px;
                }

                @include laptop {
                  @include fontStyle(18px, 28.8px, 400);
                }

                &:before {
                  content: "";
                  display: inline-block;
                  position: absolute;
                  top: 10px;
                  left: 12px;
                  width: 4px;
                  height: 4px;
                  background-color: $basic;
                  border-radius: 50%;
                  vertical-align: middle;
                }
              }

              @include tablet {
                &.on {
                  display: flex;
                }
              }
            }
          }
        }
      }
    }

    //.sector-history
    &-history {
      .inner {
        @include tablet {
          width: calc(100% - 40px);
        }
        @include desktop {
          width: 1400px;
        }
      }

      .cont-box {
        position: relative;
        margin-left: 17px;
        padding-top: 80px;

      &:before {
        content:'';
        position: absolute;
        top: 0;
        left: -3px;
        display: inline-block;
        @include backgroundImage (5px, 100%, 'icon/arrow.svg');
      }
        @include tablet {
          margin: 0 auto;
          &:before {
            left: 189px;
          }
        }

        @include laptop {
          width: 920px;
          box-sizing: border-box;
          padding-top: 100px;
          margin: 0 auto;
        }

        dl {
          position: relative;
          @include tablet {
            display: flex;
          }

          dt {
            position: relative;
            padding-left: 21px;
            @include fontStyle(28px, 33.6px, 700);

            &:before {
              content: "";
              display: inline-block;
              position: absolute;
              top: 0;
              left: -17px;
              @include backgroundImage(34px, 34px, "icon/round.svg");
              background-color: $white;
              @include tablet {
                display: none;
                padding-left: 0;
              }
            }
            @include tablet {
              width: 192px;
              padding-right: 42px;
              box-sizing: border-box;
            }
          }

          dd {
            position: relative;
            padding: 16px 0 24px 21px;

            @include tablet {
              padding: 0 0 50px 80px;
              &:before {
                content: "";
                display: inline-block;
                position: absolute;
                top: 0;
                left: -17px;
                @include backgroundImage(34px, 34px, "icon/round.svg");
              }
            }

            li {
              display: flex;
              align-items: center;
              margin-bottom: 8px;
              @include fontStyle(16px, 22.4px, 400);

              .month-flag {
                margin-right: 8px;
                padding: 4px 8px;
                box-sizing: border-box;
                height: 25px;
                border-radius: 8px;
                border: 1px solid #9a9a9a;
                @include fontStyle(12px, 16.8px, 400, #9a9a9a);
              }
            }
            .sub-title {
              display: inline-block;
              margin-bottom: 8px;
              @include fontStyle(16px, 22.4px, 400);
            }
          }

          &:last-child {
            dd {
              border-left: none;
            }
          }
        }
      }
    }

    //.sector-service
    &-service {
      background-color: #f1faff;

      .title {
        margin-bottom: 20px;
      }

      .service-tab {
        display: none;

        @include tablet {
          display: flex;
          justify-content: center;
          align-items: center;

          .slick-track {
            width: 100% !important;
            transform: none !important;
          }

          .tab-item {
            display: flex;
            align-items: center;
            height: 130px;
            box-sizing: border-box;
            padding: 0 18px;
            text-align: center;
            @include fontStyle(20px, 33.6px, 400, #7f7f7f);
            &.on {
              @include fontStyle(20px, 33.6px, 700, #0189d0);
            }
          }
        }
        
        @include desktop {
          .tab-item {
            @include fontStyle(28px, 33.6px, 400, #7f7f7f);
            &.on {
              @include fontStyle(28px, 33.6px, 700, #0189d0);
            }
          }
        }
        
        
      }

      .service-slide {
        .service-card {
          width: 100%;
          height: 560px;
          padding: 44.5px 20px;
          box-sizing: border-box;
          text-align: center;
          color: $white;

          @include tablet {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 30px 50px;
            height: auto;
            aspect-ratio: 10/4;
          }

          @include laptop {
            padding-left: 150px;
          }

          &.service-card-02 {
            padding-top: 100px;
            @include tablet {
              padding-top: 50px;
            }
          }

          .card-cont {
            margin: 0 auto;
            max-width: 295px;
            margin-bottom: 12px;

            @include tablet {
              max-width: 100%;
              margin: 0 0 27px 0;
            }

            .sub-title {
              @include fontStyle(16px, 22.4px, 700, $white);
              margin-bottom: 8px;

              @include tablet {
                text-align: left;
                margin-bottom: 12px;
              }

              @include laptop {
                @include fontStyle(24px, 28.8px, 700, $white);
              }
            }

            .cont-list {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              li {
                position: relative;
                display: block;
                width: fit-content;
                @include fontStyle(16px, 19.2px, 400, $white);
                margin-bottom: 8px;
                padding-left: 20px;
                &:before {
                  content: "";
                  display: inline-block;
                  position: absolute;
                  top: 0;
                  left: 0px;
                  margin-right: 4px;
                  @include backgroundImage(16px, 19px, "icon/check.svg");
                }

                &:last-child {
                  margin-bottom: 0;
                }

                @include tablet {
                  margin-bottom: 10px;
                }

                @include laptop {
                  @include fontStyle(18px, 25.2px, 400, $white);
                }
              }
              &:last-child {
                margin-bottom: 0;
              }

              @include tablet {
                display: block;
                text-align: left;
                margin-bottom: 27px;
              }
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        .slick-dots {
          display: flex;
          justify-content: center;
          bottom: -32px;

          li {
            display: inline-block;
            width: 12px;
            height: 12px;
            margin-right: 20px;
            border-radius: 50%;
            border: 1px solid $basic;
            //.slick-dots:last-child
            &:last-child {
              margin-right: 0;
            }
            //.slick-dots.slick-active
            &.slick-active {
              background-color: $basic;
            }
          }
        }
      }
    }

    //.sector-contact
    &-contact {
      .map-box {
        height: 285px;
        border-radius: 40px;
        overflow: hidden;
        margin-bottom: 20px;

        @include tablet {
          height: 532px;
        }
      }

      .cont-box {

        @include tablet {
          display: flex;
          margin-top: 50px;
        }

        .cont-title {
          @include fontStyle(22px, 26.4px, 700);
          margin-bottom: 16px;

          @include tablet {
            @include fontStyle(28px, 33.6px, 700);
            width: 320px;
            margin-right: 40px;
          }
        }

        .contact-list {
          .contact {
            //.contact-item
            &-item {
              @include fontStyle(18px, 25.2px, 400);
              margin-bottom: 12px;
              display: flex;
              align-items: center;
              &:last-child {
                margin-bottom: 0;
              }
              @for $i from 1 to 4 {
                &.item-0#{$i} {
                  &:before {
                    content: "";
                    display: inline-block;
                    background-image: url("../../image/icon/contact_0#{$i}.svg");
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 36px;
                    height: 36px;
                    margin-right: 20px;
                  }
                }
              }
            }
            &-item {
              @include fontStyle(18px, 25.2px, 400);
              margin-bottom: 12px;
              display: flex;
              align-items: center;
              &:last-child {
                margin-bottom: 0;
              }
              @for $i from 1 to 4 {
                &.item-0#{$i} {
                  &:before {
                    content: "";
                    display: inline-block;
                    background-image: url("../../image/icon/contact_0#{$i}.svg");
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 36px;
                    height: 36px;
                    margin-right: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }

    //.sector-message
    &-message {
      background-color: #ecf3f8;
      text-align: center;
      .inner {
        padding: 20px 24px;

        @include tablet {
          display: flex;
          justify-content: space-between;
          align-items: center;
          text-align: left;
          padding: 60px 0;
        }
      }
      .text {
        @include fontStyle(22px, 26.4px, 700);
        margin-bottom: 20px;

        @include tablet {
          margin-bottom: 0;
          @include fontStyle(28px, 33.6px, 700);
        }
      }
      .inquery-button {
        display: inline-block;
      }
    }
  }
}
